<div class="users-conatiner" fxLayout="column" fxLayoutAlign="start stretch">
  <div>
    <mat-toolbar class="side-header">
      <span>Start New Conversatoions</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon (click)="close()">clear</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider class="conversation-divider"></mat-divider>
  </div>
  <div class="overflow-v">
    <div class="group-des" *ngIf="isGroup">
      <mat-form-field>
        <mat-label>Group Name</mat-label>
        <input [(ngModel)]="groupName" matInput placeholder="Ex. Group Name">
      </mat-form-field>
    </div>
    <mat-selection-list *ngIf="isGroup">
      <mat-list-option *ngFor="let message of users">
        <img matListAvatar src="https://picsum.photos/200" alt="...">
        <h3 matLine> {{message.username}} </h3>
        <mat-divider class="conversation-divider"></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <div class="group-save" *ngIf="isGroup">
      <button (click)="createGroup()" mat-button color="primary">Join</button>
    </div>
    <mat-list *ngIf="!isGroup">
      <mat-list-item (click)="navigateToCreateGroup()">
        <img matListAvatar src="../../assets/images/group.jpg" alt="...">
        <h3 matLine> Create Group </h3>
        <mat-divider class="conversation-divider"></mat-divider>
      </mat-list-item>
      <mat-list-item (click)="selectUser(message)" *ngFor="let message of users">
        <img matListAvatar src="https://picsum.photos/200" alt="...">
        <h3 matLine> {{message.username}} </h3>
        <mat-divider class="conversation-divider"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
