@import "../../assets/styles/variables";

:host {
  mat-toolbar {
    --default-height: 3.125rem;
  }

  mat-toolbar {
    position: sticky;
    top: 0rem;
    z-index: 999;
    height: 1.5rem;
    background-color: transparent !important;
  }

  .badge {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 auto;
   // line-height: 1.125rem;
    background: $background-dark;
    border: solid 3px $user-badge-outer-border;
    border-radius: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }

  .content-panel {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    &:before {
      top: 0rem;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 0rem;
      border-width: 0.0625rem;
      border-style: solid;
      left: 50%;
      z-index: -1;
      border-color: transparent;
    }
  }

  .last-group {
    padding-bottom: 0rem;
  }
}
