@import "../../assets/styles/variables";

:host {
  mat-toolbar {
    --default-height: 3.125rem;
  }

  mat-toolbar {
    position: sticky;
    top: 0rem; // needed for sticky toolbar
    z-index: 999;
    height: 1.5rem;
    background-color: transparent !important;
  }

  .timeline-badge {
    height: 1.5rem;
    border-radius: 0.5rem;
    font: inherit;
    padding-top: 0.125rem;
    padding-left: 0.5rem;
    padding-bottom: 0.125rem;
    padding-right: 0.5rem;
    margin: 0 auto;

    /* Subtitel2 14 medium */
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    /* identical to box height */
    text-align: center;
    color: $border;
    background: $background-dark;
    border: solid 3px $user-badge-outer-border;
  }

  .timeline-content-panel {
    position: relative;
    font: inherit;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    &:before {
      top: 0rem;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 0rem;
      border-width: 0.0625rem;
      border-style: solid;
      left: 50%;
      z-index: -1;
      border-color: transparent;
    }
  }

  .last-group {
    padding-bottom: 0rem;
  }
}
