<div class="messages" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div>
    <mat-toolbar class="side-header">
      <span>{{conversationMessages?.isGroup ? conversationMessages.groupName : other?.username}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider class="conversation-divider"></mat-divider>
  </div>
  <div class="overflow-v">
    <mat-list class="old-message overflow-v">
      <mat-list-item class="message" *ngFor="let message of conversationMessages?.messages">
        <img matListAvatar [src]="me?.profile ? me?.profile : '../../assets/images/user.png'" alt="...">
        <h3 matLine> {{other[message.sender]?.username}} </h3>
        <p matLine>
          <span> {{message.messageText}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item class="comment">
        <img matListAvatar [src]="me?.profile ? me?.profile : '../../assets/images/user.png'" alt="...">
        <mat-form-field matLine class="example-full-width">
          <textarea [(ngModel)]="text" (submit)="sendMessage(text)" matInput placeholder="Message"></textarea>
        </mat-form-field>
        <button mat-icon-button aria-label="Example icon-button with share icon">
          <mat-icon (click)="sendMessage()">send</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
