@import "../../assets/styles/variables";

.messages {
  height: 100%;
  background-color: $background-very-light;
  .side-header {
    background-color: $background-dark;
    div {
      width: 49px;
      height: 49px;
      margin-right: 8px;
      border-radius: 50%;
      .user-image {
        width: 44px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }

  .conversation-divider {
    border-top-color: $border;
  }

  .messages-list {
    height: calc(100% - 65px);
  }

  .old-message {
    .outer-badge {
      width: 44px;
      height: 45px;
      border-radius: 50%;
    }
    .message {
      margin: 16px 0px;
      height: auto;
      font-size: 18px;
      &.right {
        text-align: right;
        .outer-badge {
          margin-left: 16px;
        }
      }
      .username {
        font-weight: 600;
      }
      .message-text {
        font-size: 18px;
      }
    }
  }

  .comment {
    margin: 1.25rem 0px 1rem;
  }

  .typing {
    margin: auto 72px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .seen {
    font-size: 12px;
  }
}
