<div class="messages" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div>
    <mat-toolbar class="side-header">
      <div *ngIf="!conversationMessages?.isGroup" class="outer-badge">
        <img class="inner-badge user-image" [src]="receipent?.profile ? me?.profile : '../../assets/images/user.png'"
          alt="...">
      </div>
      <span>{{conversationMessages?.isGroup ? conversationMessages.groupName : receipent?.username}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider class="conversation-divider"></mat-divider>
  </div>
  <div fxLayout="column" class="messages-list" fxLayoutAlign="space-between">
    <div #scrollMe (scroll)="scrolled($event)" class="old-message overflow-v">
      <mat-list>
        <app-timeline *ngFor="let gorupMessage of groupedMessages| keyvalue" [headerText]="gorupMessage.key">
          <mat-list-item *ngFor="let message of gorupMessage.value" class="message"
            [ngClass]="{'right':message.sender==me._id}">
            <div *ngIf="message.sender==me._id" class="outer-badge">
              <img class="inner-badge" matListAvatar [src]="me?.profile ? me?.profile : '../../assets/images/user.png'"
                alt="...">
            </div>
            <div matListAvatar *ngIf="message.sender!=me._id" class="outer-badge">
              <img class="inner-badge" matListAvatar [src]="me?.profile ? me?.profile : '../../assets/images/user.png'"
                alt="...">
            </div>
            <h3 class="username" matLine> {{other[message.sender]?.username}} </h3>
            <p matLine>
              <span class="message-text" [innerHtml]="this.getFormatText(message.messageText)">
              </span>
            </p>
            <p matLine class="seen" *ngIf="message.sender===me._id">
              {{conversationMessages?.isGroup ? getSeenUser(message.seen) : 'seen'}}
              </p>
          </mat-list-item>
        </app-timeline>

      </mat-list>
    </div>
    <div *ngIf="typingText" fxLayout="row" class="typing">
      <span>{{typingText}}</span>
      <span>
        <app-typing-indicator></app-typing-indicator>
      </span>
    </div>
    <mat-list>
      <mat-list-item class="comment">
        <img matListAvatar [src]="me?.profile ? me?.profile : '../../assets/images/user.png'" alt="...">
        <mat-form-field matLine class="example-full-width">
          <textarea (keyup)="keyUp($event)" (keydown)="keyDown($event)" [(ngModel)]="text" (submit)="sendMessage()"
            matInput placeholder="Message"></textarea>
        </mat-form-field>
        <app-speech-to-text (processedText)="setMessage($event)"></app-speech-to-text>
        <button mat-icon-button aria-label="Example icon-button with share icon">
          <mat-icon (click)="sendMessage()">send</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
