<div class="dashboard-wrapper" fxLayout="row" fxLayoutAlign="start stretch">
  <div fxFlex="30" class="users-wrapper">
    <app-conversation *ngIf="!isNewConversation" (action)="isNewConversation=true" [conversations]="messages">
    </app-conversation>
    <app-users *ngIf="isNewConversation" (action)="isNewConversation=false" (select)="startNewConversation($event)"
      [users]="messages"></app-users>
  </div>
  <mat-divider class="section-divider" [vertical]="true"></mat-divider>
  <div fxFlex class="message-wrapper">
    <app-messages [messages]="messages"></app-messages>
  </div>
</div>
