$background-dark: #c7efffcc;
$background-light: #cbf0ff9e;
$border: #183530;
$background-very-light: #e7f5fb57;

$user-badge-outer-border : #44bbd1;
$user-badge-inner-border : #95dffff2;

$scroll-bar :#164047ba;
